<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogbeitrag - Titel des Beitrags</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Willkommen auf unserem Auto Blog!</h1>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="about.html">Über uns</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            <h2>Titel des Beitrags</h2>
            <img src="beispielbild.jpg" alt="Bild zum Beitrag">
            <p>Hier steht der Text des Blogbeitrags. Du kannst hier deine 
            Informationen zum Thema des Beitrags einfügen. </p>
            <p>Denke daran, Absätze zu verwenden, um den Text lesbarer zu gestalten.</p>
            <blockquote>
                <p>Dies ist ein Zitat, das du in deinem Blogbeitrag verwenden kannst.</p>
                <p>- Autor des Zitats</p>
            </blockquote>
            <p>Füge weitere Absätze hinzu, um den Beitrag zu vervollständigen.</p>
            <ul>
                <li>Du kannst auch Listen verwenden.</li>
                <li>Um deine Punkte hervorzuheben.</li>
            </ul>
        </article>

        <aside>
            <h2>Verwandte Beiträge</h2>
            <ul>
                <li><a href="#">Link zu einem anderen Beitrag</a></li>
                <li><a href="#">Link zu einem weiteren Beitrag</a></li>
            </ul>
        </aside>

        <label for="name">Name:</label>
        <input class="inputName" type="text" id="name" name="name" required><br><br>

        <label for="name">Text:</label>
        <input class="inputText" type="text" id="text" name="text" required><br><br>
      
        <input type="submit" value="Absenden" onclick="addItem()">

        <script>
            function addItem(){

                
                let token = '{{ csrf_token }}';
                let formData = new FormData();

                var name = document.getElementById("name").value;
                var text = document.getElementById("text").value;

                formData.append('name', name);
                formData.append('text', text);
                formData.append('csrfmiddlewaretoken', token);

                fetch('/blog/',{
                    method: 'POST',
                    body: formData
                });
            }
        </script>

    </main>

    <footer>
        <p>&copy; 2024 Auto Blog</p>
    </footer>
</body>
</html>