<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogbeitrag - Titel des Beitrags</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Willkommen auf unserem Auto Blog!</h1>
        <nav>
            <ul>
                <li><a href="/">Startseite</a></li>
                <li><a href="blogs.html">Blogs</a></li>
                <li><a href="about.html">Über uns</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <article>
            {% for auto in blog_daten %}

             <div class = "blog_item" >

                <h2> {{ auto.marke }} {{ auto.bezeichnung }}</h2>
                <p>Leistung: {{ auto.leistung }}</p>
                <p>Drehmoment: {{ auto.drehmoment }}</p>
                
              </div>
            {% endfor %}
   
        </article>

        <aside>
            <h2>Verwandte Beiträge</h2>
            <ul>
                <li><a href="#">Link zu einem anderen Beitrag</a></li>
                <li><a href="#">Link zu einem weiteren Beitrag</a></li>
            </ul>
        </aside>

        <label for="name">Name:</label>
        <input class="inputName" type="text" id="name" name="name" required><br><br>

        <label for="name">Text:</label>
        <input class="inputText" type="text" id="text" name="text" required><br><br>
      
        <input type="submit" value="Absenden" onclick="addItem()">

        <script>
            function addItem(){

                
                let token = '{{ csrf_token }}';
                let formData = new FormData();

                var name = document.getElementById("name").value;
                var text = document.getElementById("text").value;

                formData.append('name', name);
                formData.append('text', text);
                formData.append('csrfmiddlewaretoken', token);

                fetch('/blog/',{
                    method: 'POST',
                    body: formData
                });

                document.getElementById("name").value = "";
                document.getElementById("text").value = "";

               // window.location.reload();
            }
        </script>

    </main>

    <footer>
        <p>&copy; 2024 Auto Blog</p>
    </footer>
</body>
</html>